In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
%matplotlib inline
import seaborn as sns
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('file:///F:/covid-19%20%20cases%20around%20the%20world.csv')
df.head()

,date,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Unnamed: 40,Unnamed: 41,iso_code
0,13-03-20,North America,Aruba,2.0,2.0,NaN,NaN,0.0,NaN,18.733,...,11.62,NaN,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW
1,19-03-20,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,11.62,NaN,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW
2,20-03-20,North America,Aruba,4.0,2.0,0.286,NaN,0.0,0.0,37.465,...,11.62,NaN,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW
3,21-03-20,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,11.62,NaN,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW
4,22-03-20,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,11.62,NaN,NaN,NaN,NaN,76.29,NaN,NaN,NaN,ABW

In [3]:
df.shape

(52873, 43)

In [4]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Unnamed: 40,Unnamed: 41
count,4.925900e+04,51979.000000,51185.000000,4.032300e+04,51979.000000,51185.000000,48993.000000,51915.000000,51120.000000,40072.000000,...,47052.000000,48759.000000,36694.000000,36223.000000,22198.000000,42423.000000,51899.000000,45419.000000,0.0,0.0
mean,1.409296e+05,1677.496162,1651.444335,6.250125e+03,44.669944,44.711919,2595.355340,31.403145,30.431950,86.781450,...,252.097431,8.056455,10.766787,32.640266,52.238712,3.096829,73.971738,0.723251,NaN,NaN
std,1.412627e+06,15189.870684,14824.252952,5.063745e+04,371.987801,361.758061,5120.407744,111.964876,77.227381,171.107043,...,117.408213,4.157835,10.475180,13.442636,31.629401,2.519185,7.389685,0.153115,NaN,NaN
min,1.000000e+00,-8261.000000,-552.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2212.545000,-269.978000,0.000000,...,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000,NaN,NaN
25%,1.470000e+02,0.000000,0.714000,1.100000e+01,0.000000,0.000000,75.908000,0.000000,0.212000,3.471000,...,155.898000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.601000,NaN,NaN
50%,1.795000e+03,12.000000,17.714000,7.400000e+01,0.000000,0.286000,501.409000,1.921000,3.514000,18.111500,...,238.339000,7.110000,6.400000,31.400000,52.232000,2.500000,75.400000,0.754000,NaN,NaN
75%,1.773350e+04,200.000000,210.000000,6.260000e+02,3.000000,3.571000,2899.605000,22.371000,25.299750,74.315750,...,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.847000,NaN,NaN
max,4.359803e+07,482596.000000,439849.143000,1.160995e+06,10491.000000,7456.857000,55976.186000,8652.658000,2472.188000,1237.551000,...,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000,NaN,NaN

In [5]:
df.corr().describe().T

,count,mean,std,min,25%,50%,75%,max
total_cases,36.0,0.265890,0.393512,-0.037098,0.011085,0.044241,0.666396,1.0
new_cases,36.0,0.268662,0.397093,-0.042904,0.006936,0.061601,0.733914,1.0
new_cases_smoothed,36.0,0.269649,0.399797,-0.042721,0.005917,0.060735,0.743252,1.0
total_deaths,36.0,0.268509,0.389891,-0.050052,0.019699,0.044928,0.735642,1.0
new_deaths,36.0,0.237090,0.353077,-0.045187,0.003220,0.040780,0.502840,1.0
new_deaths_smoothed,36.0,0.244445,0.363397,-0.047661,0.004187,0.042085,0.553942,1.0
total_cases_per_million,36.0,0.191617,0.243427,-0.241878,0.051939,0.140012,0.294246,1.0
new_cases_per_million,36.0,0.164513,0.222197,-0.181069,0.032082,0.119930,0.252896,1.0
new_cases_smoothed_per_million,36.0,0.188322,0.238488,-0.208439,0.044387,0.139753,0.303861,1.0
total_deaths_per_million,36.0,0.174318,0.234281,-0.307340,0.061162,0.202316,0.295125,1.0
new_deaths_per_million,36.0,0.111048,0.204525,-0.121268,0.011865,0.063419,0.118581,1.0
new_deaths_smoothed_per_million,36.0,0.139531,0.220253,-0.176783,0.014788,0.095854,0.181473,1.0
total_tests,36.0,0.263575,0.336253,-0.057008,0.030863,0.097201,0.440619,1.0
new_tests,36.0,0.280715,0.360595,-0.048606,0.041190,0.096853,0.586886,1.0
total_tests_per_thousand,36.0,0.187583,0.279469,-0.209806,0.005699,0.148342,0.302861,1.0
new_tests_per_thousand,36.0,0.197713,0.281386,-0.220315,0.019719,0.155393,0.333126,1.0
new_tests_smoothed,36.0,0.276712,0.352029,-0.054533,0.043773,0.100321,0.563566,1.0
new_tests_smoothed_per_thousand,36.0,0.201555,0.291008,-0.236257,0.016191,0.163659,0.349214,1.0
tests_per_case,36.0,0.006225,0.179204,-0.144470,-0.064954,-0.030595,0.013599,1.0
positive_rate,36.0,0.036549,0.261820,-0.310577,-0.158706,0.041774,0.127275,1.0
stringency_index,36.0,0.020230,0.217184,-0.234605,-0.135729,0.035699,0.100322,1.0
population,36.0,0.181033,0.334524,-0.083946,-0.023278,-0.007221,0.460861,1.0
population_density,36.0,0.067812,0.191446,-0.177231,-0.019550,-0.004488,0.098789,1.0
median_age,36.0,0.234597,0.389515,-0.693620,0.021985,0.146195,0.376311,1.0
aged_65_older,36.0,0.200805,0.377664,-0.568293,0.016477,0.078713,0.353345,1.0
aged_70_older,36.0,0.197452,0.376717,-0.550823,0.014140,0.076060,0.360759,1.0
gdp_per_capita,36.0,0.208009,0.329003,-0.497572,0.001557,0.149621,0.476234,1.0
extreme_poverty,36.0,-0.197071,0.325701,-0.768519,-0.403807,-0.178926,-0.036431,1.0
cardiovasc_death_rate,36.0,-0.079071,0.261720,-0.494823,-0.180151,-0.060672,-0.000497,1.0
diabetes_prevalence,36.0,0.088258,0.217024,-0.420158,0.008695,0.060529,0.132854,1.0
female_smokers,36.0,0.164684,0.308278,-0.398357,-0.016863,0.104805,0.276361,1.0
male_smokers,36.0,0.059792,0.207255,-0.192959,-0.022019,-0.006062,0.084113,1.0
handwashing_facilities,36.0,0.260173,0.333319,-0.767708,0.039139,0.219734,0.412434,1.0
hospital_beds_per_thousand,36.0,0.141759,0.299256,-0.425897,-0.018756,0.013087,0.332601,1.0
life_expectancy,36.0,0.223832,0.379588,-0.750633,0.009368,0.152548,0.375949,1.0
human_development_index,36.0,0.258736,0.379874,-0.768519,0.090715,0.169776,0.436175,1.0
Unnamed: 40,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 41,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df=df.fillna(0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52873 entries, 0 to 52872
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             52873 non-null  object
 1   continent                        52873 non-null  object
 2   location                         52873 non-null  object
 3   total_cases                      52873 non-null  float64
 4   new_cases                        52873 non-null  float64
 5   new_cases_smoothed               52873 non-null  float64
 6   total_deaths                     52873 non-null  float64
 7   new_deaths                       52873 non-null  float64
 8   new_deaths_smoothed              52873 non-null  float64
 9   total_cases_per_million          52873 non-null  float64
 10  new_cases_per_million            52873 non-null  float64
 11  new_cases_smoothed_per_million   52873 non-null  float64
 12  total_deaths_per_million         52873 non-null  float64
 13  new_deaths_per_million           52873 non-null  float64
 14  new_deaths_smoothed_per_million  52873 non-null  float64
 15  total_tests                      52873 non-null  float64
 16  new_tests                        52873 non-null  float64
 17  total_tests_per_thousand         52873 non-null  float64
 18  new_tests_per_thousand           52873 non-null  float64
 19  new_tests_smoothed               52873 non-null  float64
 20  new_tests_smoothed_per_thousand  52873 non-null  float64
 21  tests_per_case                   52873 non-null  float64
 22  positive_rate                    52873 non-null  float64
 23  tests_units                      52873 non-null  object
 24  stringency_index                 52873 non-null  float64
 25  population                       52873 non-null  float64
 26  population_density               52873 non-null  float64
 27  median_age                       52873 non-null  float64
 28  aged_65_older                    52873 non-null  float64
 29  aged_70_older                    52873 non-null  float64
 30  gdp_per_capita                   52873 non-null  float64
 31  extreme_poverty                  52873 non-null  float64
 32  cardiovasc_death_rate            52873 non-null  float64
 33  diabetes_prevalence              52873 non-null  float64
 34  female_smokers                   52873 non-null  float64
 35  male_smokers                     52873 non-null  float64
 36  handwashing_facilities           52873 non-null  float64
 37  hospital_beds_per_thousand       52873 non-null  float64
 38  life_expectancy                  52873 non-null  float64
 39  human_development_index          52873 non-null  float64
 40  Unnamed: 40                      52873 non-null  float64
 41  Unnamed: 41                      52873 non-null  float64
 42  iso_code                         52873 non-null  object
dtypes: float64(38), object(5)
memory usage: 17.3+ MB

In [8]:
df.mean()

C:\Users\Md Asif Ikbal\Machine Learning 3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

total_cases                        1.312967e+05
new_cases                          1.649132e+03
new_cases_smoothed                 1.598721e+03
total_deaths                       4.766588e+03
new_deaths                         4.391464e+01
new_deaths_smoothed                4.328447e+01
total_cases_per_million            2.404899e+03
new_cases_per_million              3.083415e+01
new_cases_smoothed_per_million     2.942298e+01
total_deaths_per_million           6.577093e+01
new_deaths_per_million             5.886525e-01
new_deaths_smoothed_per_million    5.754057e-01
total_tests                        7.503998e+05
new_tests                          9.844301e+03
total_tests_per_thousand           2.584151e+01
new_tests_per_thousand             3.142322e-01
new_tests_smoothed                 1.064856e+04
new_tests_smoothed_per_thousand    3.430017e-01
tests_per_case                     7.361183e+01
positive_rate                      2.559983e-02
stringency_index                   4.733607e+01
population                         8.622018e+07
population_density                 3.428754e+02
median_age                         2.781801e+01
aged_65_older                      8.076841e+00
aged_70_older                      5.156046e+00
gdp_per_capita                     1.822101e+04
extreme_poverty                    7.213928e+00
cardiovasc_death_rate              2.243430e+02
diabetes_prevalence                7.429589e+00
female_smokers                     7.472178e+00
male_smokers                       2.236167e+01
handwashing_facilities             2.193170e+01
hospital_beds_per_thousand         2.484761e+00
life_expectancy                    7.260907e+01
human_development_index            6.212878e-01
Unnamed: 40                        0.000000e+00
Unnamed: 41                        0.000000e+00
dtype: float64

In [9]:
df.min()

C:\Users\Md Asif Ikbal\Machine Learning 3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

date                                  01-01-20
location                           Afghanistan
total_cases                                0.0
new_cases                              -8261.0
new_cases_smoothed                      -552.0
total_deaths                               0.0
new_deaths                             -1918.0
new_deaths_smoothed                   -232.143
total_cases_per_million                    0.0
new_cases_per_million                -2212.545
new_cases_smoothed_per_million        -269.978
total_deaths_per_million                   0.0
new_deaths_per_million                 -67.901
new_deaths_smoothed_per_million         -9.678
total_tests                                0.0
new_tests                              -3743.0
total_tests_per_thousand                   0.0
new_tests_per_thousand                  -0.398
new_tests_smoothed                         0.0
new_tests_smoothed_per_thousand            0.0
tests_per_case                             0.0
positive_rate                              0.0
stringency_index                           0.0
population                                 0.0
population_density                         0.0
median_age                                 0.0
aged_65_older                              0.0
aged_70_older                              0.0
gdp_per_capita                             0.0
extreme_poverty                            0.0
cardiovasc_death_rate                      0.0
diabetes_prevalence                        0.0
female_smokers                             0.0
male_smokers                               0.0
handwashing_facilities                     0.0
hospital_beds_per_thousand                 0.0
life_expectancy                            0.0
human_development_index                    0.0
Unnamed: 40                                0.0
Unnamed: 41                                0.0
dtype: object

In [10]:
df.max()

C:\Users\Md Asif Ikbal\Machine Learning 3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

date                                   31-12-19
location                               Zimbabwe
total_cases                          43598033.0
new_cases                              482596.0
new_cases_smoothed                   439849.143
total_deaths                          1160995.0
new_deaths                              10491.0
new_deaths_smoothed                    7456.857
total_cases_per_million               55976.186
new_cases_per_million                  8652.658
new_cases_smoothed_per_million         2472.188
total_deaths_per_million               1237.551
new_deaths_per_million                  215.382
new_deaths_smoothed_per_million           63.14
total_tests                         160000000.0
new_tests                             1492409.0
total_tests_per_thousand               1607.388
new_tests_per_thousand                   25.983
new_tests_smoothed                    1196972.0
new_tests_smoothed_per_thousand          19.111
tests_per_case                          45864.0
positive_rate                             0.651
stringency_index                          100.0
population                         7794798729.0
population_density                      19347.5
median_age                                 48.2
aged_65_older                            27.049
aged_70_older                            18.493
gdp_per_capita                         116935.6
extreme_poverty                            77.6
cardiovasc_death_rate                   724.417
diabetes_prevalence                       23.36
female_smokers                             44.0
male_smokers                               78.1
handwashing_facilities                   98.999
hospital_beds_per_thousand                 13.8
life_expectancy                           86.75
human_development_index                   0.953
Unnamed: 40                                 0.0
Unnamed: 41                                 0.0
dtype: object

In [11]:
df.head()

,date,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Unnamed: 40,Unnamed: 41,iso_code
0,13-03-20,North America,Aruba,2.0,2.0,0.000,0.0,0.0,0.0,18.733,...,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0,ABW
1,19-03-20,North America,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,...,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0,ABW
2,20-03-20,North America,Aruba,4.0,2.0,0.286,0.0,0.0,0.0,37.465,...,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0,ABW
3,21-03-20,North America,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,...,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0,ABW
4,22-03-20,North America,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,...,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0,ABW

In [12]:
df=df.drop(['date','iso_code','continent','tests_units'],axis='columns')

In [14]:
x=df.drop(['location'],axis='columns')

In [15]:
y=df.location.values

In [16]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [17]:
tre=DecisionTreeClassifier()
tre.fit(xtrain,ytrain)
pred_tre=tre.predict(xtest)
accu_tre=accuracy_score(ytest , pred_tre)*100
accu_tre

100.0

In [18]:
print(classification_report(ytest,pred_tre))

                                  precision    recall  f1-score   support

                     Afghanistan       1.00      1.00      1.00        82
                         Albania       1.00      1.00      1.00        67
                         Algeria       1.00      1.00      1.00       100
                         Andorra       1.00      1.00      1.00        70
                          Angola       1.00      1.00      1.00        75
                        Anguilla       1.00      1.00      1.00        65
             Antigua and Barbuda       1.00      1.00      1.00        65
                       Argentina       1.00      1.00      1.00        76
                         Armenia       1.00      1.00      1.00        90
                           Aruba       1.00      1.00      1.00        63
                       Australia       1.00      1.00      1.00       109
                         Austria       1.00      1.00      1.00        93
                      Azerbaijan       1.00      1.00      1.00        93
                         Bahamas       1.00      1.00      1.00        67
                         Bahrain       1.00      1.00      1.00        86
                      Bangladesh       1.00      1.00      1.00        71
                        Barbados       1.00      1.00      1.00        62
                         Belarus       1.00      1.00      1.00        86
                         Belgium       1.00      1.00      1.00       110
                          Belize       1.00      1.00      1.00        67
                           Benin       1.00      1.00      1.00        67
                         Bermuda       1.00      1.00      1.00        72
                          Bhutan       1.00      1.00      1.00        68
                         Bolivia       1.00      1.00      1.00        73
 Bonaire Sint Eustatius and Saba       1.00      1.00      1.00        60
          Bosnia and Herzegovina       1.00      1.00      1.00        65
                        Botswana       1.00      1.00      1.00        71
                          Brazil       1.00      1.00      1.00        92
          British Virgin Islands       1.00      1.00      1.00        64
                          Brunei       1.00      1.00      1.00        67
                        Bulgaria       1.00      1.00      1.00        74
                    Burkina Faso       1.00      1.00      1.00        57
                         Burundi       1.00      1.00      1.00        45
                        Cambodia       1.00      1.00      1.00        96
                        Cameroon       1.00      1.00      1.00        69
                          Canada       1.00      1.00      1.00        82
                      Cape Verde       1.00      1.00      1.00        68
                  Cayman Islands       1.00      1.00      1.00        64
        Central African Republic       1.00      1.00      1.00        58
                            Chad       1.00      1.00      1.00        65
                           Chile       1.00      1.00      1.00        66
                           China       1.00      1.00      1.00        93
                        Colombia       1.00      1.00      1.00        63
                         Comoros       1.00      1.00      1.00        54
                           Congo       1.00      1.00      1.00        71
                      Costa Rica       1.00      1.00      1.00        71
                   Cote d'Ivoire       1.00      1.00      1.00        68
                         Croatia       1.00      1.00      1.00       101
                            Cuba       1.00      1.00      1.00        63
                         Curacao       1.00      1.00      1.00        61
                          Cyprus       1.00      1.00      1.00        70
                  Czech Republic       1.00      1.00      1.00        92
    Democratic Republic of Congo       1.00      1.00      1.00        60
                         Denmark       1.00      1.00      1.00       100
                        Djibouti       1.00      1.00      1.00        68
                        Dominica       1.00      1.00      1.00        74
              Dominican Republic       1.00      1.00      1.00        94
                         Ecuador       1.00      1.00      1.00        99
                           Egypt       1.00      1.00      1.00        80
                     El Salvador       1.00      1.00      1.00        78
               Equatorial Guinea       1.00      1.00      1.00        72
                         Eritrea       1.00      1.00      1.00        69
                         Estonia       1.00      1.00      1.00        87
                        Ethiopia       1.00      1.00      1.00        60
                  Faeroe Islands       1.00      1.00      1.00        76
                Falkland Islands       1.00      1.00      1.00        66
                            Fiji       1.00      1.00      1.00        83
                         Finland       1.00      1.00      1.00       102
                          France       1.00      1.00      1.00        84
                French Polynesia       1.00      1.00      1.00        65
                           Gabon       1.00      1.00      1.00        54
                          Gambia       1.00      1.00      1.00        60
                         Georgia       1.00      1.00      1.00        86
                         Germany       1.00      1.00      1.00        77
                           Ghana       1.00      1.00      1.00        59
                       Gibraltar       1.00      1.00      1.00        56
                          Greece       1.00      1.00      1.00        97
                       Greenland       1.00      1.00      1.00        85
                         Grenada       1.00      1.00      1.00        67
                            Guam       1.00      1.00      1.00        67
                       Guatemala       1.00      1.00      1.00        68
                        Guernsey       1.00      1.00      1.00        71
                          Guinea       1.00      1.00      1.00        82
                   Guinea-Bissau       1.00      1.00      1.00        69
                          Guyana       1.00      1.00      1.00        67
                           Haiti       1.00      1.00      1.00        67
                        Honduras       1.00      1.00      1.00        69
                       Hong Kong       1.00      1.00      1.00        23
                         Hungary       1.00      1.00      1.00        72
                         Iceland       1.00      1.00      1.00        88
                           India       1.00      1.00      1.00       111
                       Indonesia       1.00      1.00      1.00        76
                   International       1.00      1.00      1.00        87
                            Iran       1.00      1.00      1.00        94
                            Iraq       1.00      1.00      1.00       101
                         Ireland       1.00      1.00      1.00        85
                     Isle of Man       1.00      1.00      1.00        57
                          Israel       1.00      1.00      1.00        87
                           Italy       1.00      1.00      1.00        74
                         Jamaica       1.00      1.00      1.00        69
                           Japan       1.00      1.00      1.00        83
                          Jersey       1.00      1.00      1.00        61
                          Jordan       1.00      1.00      1.00        69
                      Kazakhstan       1.00      1.00      1.00        78
                           Kenya       1.00      1.00      1.00        65
                          Kosovo       1.00      1.00      1.00        60
                          Kuwait       1.00      1.00      1.00        95
                      Kyrgyzstan       1.00      1.00      1.00        57
                            Laos       1.00      1.00      1.00        74
                          Latvia       1.00      1.00      1.00        64
                         Lebanon       1.00      1.00      1.00        95
                         Lesotho       1.00      1.00      1.00        54
                         Liberia       1.00      1.00      1.00        66
                           Libya       1.00      1.00      1.00        73
                   Liechtenstein       1.00      1.00      1.00        68
                       Lithuania       1.00      1.00      1.00        92
                      Luxembourg       1.00      1.00      1.00       100
                       Macedonia       1.00      1.00      1.00        98
                      Madagascar       1.00      1.00      1.00        74
                          Malawi       1.00      1.00      1.00        59
                        Malaysia       1.00      1.00      1.00        87
                        Maldives       1.00      1.00      1.00        74
                            Mali       1.00      1.00      1.00        64
                           Malta       1.00      1.00      1.00        74
                      Mauritania       1.00      1.00      1.00        69
                       Mauritius       1.00      1.00      1.00        68
                          Mexico       1.00      1.00      1.00        99
                         Moldova       1.00      1.00      1.00        66
                          Monaco       1.00      1.00      1.00        92
                        Mongolia       1.00      1.00      1.00        58
                      Montenegro       1.00      1.00      1.00        69
                      Montserrat       1.00      1.00      1.00        56
                         Morocco       1.00      1.00      1.00        85
                      Mozambique       1.00      1.00      1.00        71
                         Myanmar       1.00      1.00      1.00        68
                         Namibia       1.00      1.00      1.00        71
                           Nepal       1.00      1.00      1.00        96
                     Netherlands       1.00      1.00      1.00        91
                   New Caledonia       1.00      1.00      1.00        66
                     New Zealand       1.00      1.00      1.00        87
                       Nicaragua       1.00      1.00      1.00        54
                           Niger       1.00      1.00      1.00        59
                         Nigeria       1.00      1.00      1.00       105
        Northern Mariana Islands       1.00      1.00      1.00        58
                          Norway       1.00      1.00      1.00        95
                            Oman       1.00      1.00      1.00        86
                        Pakistan       1.00      1.00      1.00        96
                       Palestine       1.00      1.00      1.00        67
                          Panama       1.00      1.00      1.00        75
                Papua New Guinea       1.00      1.00      1.00        62
                        Paraguay       1.00      1.00      1.00        68
                            Peru       1.00      1.00      1.00        78
                     Philippines       1.00      1.00      1.00        87
                          Poland       1.00      1.00      1.00        78
                        Portugal       1.00      1.00      1.00        76
                     Puerto Rico       1.00      1.00      1.00        68
                           Qatar       1.00      1.00      1.00        84
                         Romania       1.00      1.00      1.00        89
                          Russia       1.00      1.00      1.00        91
                          Rwanda       1.00      1.00      1.00        69
           Saint Kitts and Nevis       1.00      1.00      1.00        65
                     Saint Lucia       1.00      1.00      1.00        67
Saint Vincent and the Grenadines       1.00      1.00      1.00        57
                      San Marino       1.00      1.00      1.00        90
           Sao Tome and Principe       1.00      1.00      1.00        63
                    Saudi Arabia       1.00      1.00      1.00        74
                         Senegal       1.00      1.00      1.00        83
                          Serbia       1.00      1.00      1.00        74
                      Seychelles       1.00      1.00      1.00        72
                    Sierra Leone       1.00      1.00      1.00        52
                       Singapore       1.00      1.00      1.00       101
       Sint Maarten (Dutch part)       1.00      1.00      1.00        63
                        Slovakia       1.00      1.00      1.00        77
                        Slovenia       1.00      1.00      1.00        66
                 Solomon Islands       1.00      1.00      1.00         5
                         Somalia       1.00      1.00      1.00        69
                    South Africa       1.00      1.00      1.00        88
                     South Korea       1.00      1.00      1.00        96
                     South Sudan       1.00      1.00      1.00        67
                           Spain       1.00      1.00      1.00        80
                       Sri Lanka       1.00      1.00      1.00        91
                           Sudan       1.00      1.00      1.00        72
                        Suriname       1.00      1.00      1.00        69
                       Swaziland       1.00      1.00      1.00        70
                          Sweden       1.00      1.00      1.00        88
                     Switzerland       1.00      1.00      1.00        82
                           Syria       1.00      1.00      1.00        69
                          Taiwan       1.00      1.00      1.00        85
                      Tajikistan       1.00      1.00      1.00        52
                        Tanzania       1.00      1.00      1.00        71
                        Thailand       1.00      1.00      1.00       107
                           Timor       1.00      1.00      1.00        70
                            Togo       1.00      1.00      1.00        60
             Trinidad and Tobago       1.00      1.00      1.00        76
                         Tunisia       1.00      1.00      1.00        67
                          Turkey       1.00      1.00      1.00        64
        Turks and Caicos Islands       1.00      1.00      1.00        65
                          Uganda       1.00      1.00      1.00        66
                         Ukraine       1.00      1.00      1.00        65
            United Arab Emirates       1.00      1.00      1.00       100
                  United Kingdom       1.00      1.00      1.00        83
                   United States       1.00      1.00      1.00        88
    United States Virgin Islands       1.00      1.00      1.00        61
                         Uruguay       1.00      1.00      1.00        60
                      Uzbekistan       1.00      1.00      1.00        70
                         Vatican       1.00      1.00      1.00        69
                       Venezuela       1.00      1.00      1.00        65
                         Vietnam       1.00      1.00      1.00        94
                  Western Sahara       1.00      1.00      1.00        62
                           World       1.00      1.00      1.00        91
                           Yemen       1.00      1.00      1.00        66
                          Zambia       1.00      1.00      1.00        69
                        Zimbabwe       1.00      1.00      1.00        56

                        accuracy                           1.00     15862
                       macro avg       1.00      1.00      1.00     15862
                    weighted avg       1.00      1.00      1.00     15862

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [20]:
kne=KNeighborsClassifier()
kne.fit(xtrain,ytrain)
pred_kne=kne.predict(xtest)
accu_kne=accuracy_score(ytest , pred_tre)*100
accu_kne

100.0

In [21]:
print(classification_report(ytest,pred_kne))

                                  precision    recall  f1-score   support

                     Afghanistan       1.00      1.00      1.00        82
                         Albania       1.00      1.00      1.00        67
                         Algeria       1.00      1.00      1.00       100
                         Andorra       1.00      1.00      1.00        70
                          Angola       1.00      1.00      1.00        75
                        Anguilla       1.00      1.00      1.00        65
             Antigua and Barbuda       1.00      1.00      1.00        65
                       Argentina       1.00      1.00      1.00        76
                         Armenia       1.00      1.00      1.00        90
                           Aruba       1.00      1.00      1.00        63
                       Australia       1.00      1.00      1.00       109
                         Austria       1.00      1.00      1.00        93
                      Azerbaijan       1.00      1.00      1.00        93
                         Bahamas       1.00      1.00      1.00        67
                         Bahrain       1.00      1.00      1.00        86
                      Bangladesh       1.00      1.00      1.00        71
                        Barbados       1.00      1.00      1.00        62
                         Belarus       1.00      1.00      1.00        86
                         Belgium       1.00      1.00      1.00       110
                          Belize       1.00      1.00      1.00        67
                           Benin       1.00      1.00      1.00        67
                         Bermuda       1.00      1.00      1.00        72
                          Bhutan       1.00      1.00      1.00        68
                         Bolivia       1.00      1.00      1.00        73
 Bonaire Sint Eustatius and Saba       1.00      1.00      1.00        60
          Bosnia and Herzegovina       1.00      1.00      1.00        65
                        Botswana       1.00      1.00      1.00        71
                          Brazil       1.00      1.00      1.00        92
          British Virgin Islands       1.00      1.00      1.00        64
                          Brunei       1.00      1.00      1.00        67
                        Bulgaria       1.00      1.00      1.00        74
                    Burkina Faso       1.00      1.00      1.00        57
                         Burundi       1.00      1.00      1.00        45
                        Cambodia       1.00      1.00      1.00        96
                        Cameroon       1.00      1.00      1.00        69
                          Canada       0.96      0.96      0.96        82
                      Cape Verde       1.00      1.00      1.00        68
                  Cayman Islands       1.00      1.00      1.00        64
        Central African Republic       1.00      1.00      1.00        58
                            Chad       1.00      1.00      1.00        65
                           Chile       1.00      1.00      1.00        66
                           China       1.00      1.00      1.00        93
                        Colombia       1.00      1.00      1.00        63
                         Comoros       1.00      1.00      1.00        54
                           Congo       1.00      1.00      1.00        71
                      Costa Rica       1.00      1.00      1.00        71
                   Cote d'Ivoire       1.00      1.00      1.00        68
                         Croatia       1.00      1.00      1.00       101
                            Cuba       1.00      1.00      1.00        63
                         Curacao       1.00      1.00      1.00        61
                          Cyprus       1.00      1.00      1.00        70
                  Czech Republic       1.00      1.00      1.00        92
    Democratic Republic of Congo       1.00      1.00      1.00        60
                         Denmark       0.94      1.00      0.97       100
                        Djibouti       1.00      1.00      1.00        68
                        Dominica       1.00      1.00      1.00        74
              Dominican Republic       1.00      1.00      1.00        94
                         Ecuador       1.00      1.00      1.00        99
                           Egypt       1.00      1.00      1.00        80
                     El Salvador       1.00      1.00      1.00        78
               Equatorial Guinea       1.00      1.00      1.00        72
                         Eritrea       1.00      1.00      1.00        69
                         Estonia       1.00      1.00      1.00        87
                        Ethiopia       1.00      1.00      1.00        60
                  Faeroe Islands       1.00      1.00      1.00        76
                Falkland Islands       1.00      1.00      1.00        66
                            Fiji       1.00      1.00      1.00        83
                         Finland       1.00      1.00      1.00       102
                          France       1.00      1.00      1.00        84
                French Polynesia       1.00      1.00      1.00        65
                           Gabon       1.00      1.00      1.00        54
                          Gambia       1.00      1.00      1.00        60
                         Georgia       1.00      1.00      1.00        86
                         Germany       1.00      0.92      0.96        77
                           Ghana       1.00      1.00      1.00        59
                       Gibraltar       1.00      1.00      1.00        56
                          Greece       1.00      1.00      1.00        97
                       Greenland       1.00      1.00      1.00        85
                         Grenada       1.00      1.00      1.00        67
                            Guam       1.00      1.00      1.00        67
                       Guatemala       1.00      1.00      1.00        68
                        Guernsey       1.00      1.00      1.00        71
                          Guinea       1.00      1.00      1.00        82
                   Guinea-Bissau       1.00      1.00      1.00        69
                          Guyana       1.00      1.00      1.00        67
                           Haiti       1.00      1.00      1.00        67
                        Honduras       1.00      1.00      1.00        69
                       Hong Kong       1.00      1.00      1.00        23
                         Hungary       1.00      1.00      1.00        72
                         Iceland       1.00      1.00      1.00        88
                           India       1.00      1.00      1.00       111
                       Indonesia       1.00      1.00      1.00        76
                   International       0.99      1.00      0.99        87
                            Iran       0.96      1.00      0.98        94
                            Iraq       1.00      1.00      1.00       101
                         Ireland       1.00      1.00      1.00        85
                     Isle of Man       1.00      1.00      1.00        57
                          Israel       0.99      0.83      0.90        87
                           Italy       1.00      1.00      1.00        74
                         Jamaica       1.00      1.00      1.00        69
                           Japan       1.00      1.00      1.00        83
                          Jersey       1.00      1.00      1.00        61
                          Jordan       1.00      1.00      1.00        69
                      Kazakhstan       1.00      1.00      1.00        78
                           Kenya       1.00      1.00      1.00        65
                          Kosovo       1.00      1.00      1.00        60
                          Kuwait       1.00      1.00      1.00        95
                      Kyrgyzstan       1.00      1.00      1.00        57
                            Laos       1.00      1.00      1.00        74
                          Latvia       1.00      1.00      1.00        64
                         Lebanon       1.00      1.00      1.00        95
                         Lesotho       1.00      1.00      1.00        54
                         Liberia       1.00      1.00      1.00        66
                           Libya       1.00      1.00      1.00        73
                   Liechtenstein       0.98      0.94      0.96        68
                       Lithuania       1.00      1.00      1.00        92
                      Luxembourg       1.00      1.00      1.00       100
                       Macedonia       0.99      1.00      0.99        98
                      Madagascar       1.00      1.00      1.00        74
                          Malawi       1.00      1.00      1.00        59
                        Malaysia       1.00      1.00      1.00        87
                        Maldives       1.00      1.00      1.00        74
                            Mali       1.00      1.00      1.00        64
                           Malta       1.00      1.00      1.00        74
                      Mauritania       1.00      1.00      1.00        69
                       Mauritius       1.00      1.00      1.00        68
                          Mexico       1.00      1.00      1.00        99
                         Moldova       1.00      1.00      1.00        66
                          Monaco       1.00      1.00      1.00        92
                        Mongolia       1.00      1.00      1.00        58
                      Montenegro       1.00      1.00      1.00        69
                      Montserrat       1.00      1.00      1.00        56
                         Morocco       1.00      1.00      1.00        85
                      Mozambique       1.00      1.00      1.00        71
                         Myanmar       1.00      1.00      1.00        68
                         Namibia       1.00      1.00      1.00        71
                           Nepal       1.00      1.00      1.00        96
                     Netherlands       1.00      1.00      1.00        91
                   New Caledonia       1.00      1.00      1.00        66
                     New Zealand       1.00      1.00      1.00        87
                       Nicaragua       1.00      1.00      1.00        54
                           Niger       1.00      1.00      1.00        59
                         Nigeria       1.00      1.00      1.00       105
        Northern Mariana Islands       1.00      1.00      1.00        58
                          Norway       0.99      1.00      0.99        95
                            Oman       1.00      1.00      1.00        86
                        Pakistan       1.00      1.00      1.00        96
                       Palestine       1.00      1.00      1.00        67
                          Panama       1.00      1.00      1.00        75
                Papua New Guinea       1.00      1.00      1.00        62
                        Paraguay       1.00      1.00      1.00        68
                            Peru       1.00      1.00      1.00        78
                     Philippines       1.00      1.00      1.00        87
                          Poland       0.96      0.96      0.96        78
                        Portugal       1.00      1.00      1.00        76
                     Puerto Rico       1.00      1.00      1.00        68
                           Qatar       1.00      1.00      1.00        84
                         Romania       1.00      1.00      1.00        89
                          Russia       1.00      1.00      1.00        91
                          Rwanda       1.00      1.00      1.00        69
           Saint Kitts and Nevis       1.00      1.00      1.00        65
                     Saint Lucia       1.00      1.00      1.00        67
Saint Vincent and the Grenadines       1.00      1.00      1.00        57
                      San Marino       1.00      1.00      1.00        90
           Sao Tome and Principe       1.00      1.00      1.00        63
                    Saudi Arabia       1.00      1.00      1.00        74
                         Senegal       1.00      1.00      1.00        83
                          Serbia       1.00      1.00      1.00        74
                      Seychelles       1.00      1.00      1.00        72
                    Sierra Leone       1.00      1.00      1.00        52
                       Singapore       1.00      0.94      0.97       101
       Sint Maarten (Dutch part)       1.00      1.00      1.00        63
                        Slovakia       1.00      0.99      0.99        77
                        Slovenia       1.00      0.98      0.99        66
                 Solomon Islands       1.00      1.00      1.00         5
                         Somalia       1.00      1.00      1.00        69
                    South Africa       1.00      1.00      1.00        88
                     South Korea       1.00      1.00      1.00        96
                     South Sudan       1.00      1.00      1.00        67
                           Spain       1.00      1.00      1.00        80
                       Sri Lanka       1.00      1.00      1.00        91
                           Sudan       1.00      1.00      1.00        72
                        Suriname       1.00      1.00      1.00        69
                       Swaziland       1.00      1.00      1.00        70
                          Sweden       1.00      1.00      1.00        88
                     Switzerland       0.84      0.99      0.91        82
                           Syria       1.00      1.00      1.00        69
                          Taiwan       1.00      1.00      1.00        85
                      Tajikistan       1.00      1.00      1.00        52
                        Tanzania       1.00      1.00      1.00        71
                        Thailand       1.00      1.00      1.00       107
                           Timor       1.00      1.00      1.00        70
                            Togo       1.00      1.00      1.00        60
             Trinidad and Tobago       1.00      1.00      1.00        76
                         Tunisia       1.00      1.00      1.00        67
                          Turkey       0.97      1.00      0.98        64
        Turks and Caicos Islands       0.94      0.98      0.96        65
                          Uganda       1.00      1.00      1.00        66
                         Ukraine       1.00      1.00      1.00        65
            United Arab Emirates       1.00      1.00      1.00       100
                  United Kingdom       1.00      1.00      1.00        83
                   United States       1.00      1.00      1.00        88
    United States Virgin Islands       1.00      1.00      1.00        61
                         Uruguay       1.00      1.00      1.00        60
                      Uzbekistan       1.00      1.00      1.00        70
                         Vatican       1.00      0.99      0.99        69
                       Venezuela       1.00      1.00      1.00        65
                         Vietnam       1.00      1.00      1.00        94
                  Western Sahara       1.00      1.00      1.00        62
                           World       1.00      1.00      1.00        91
                           Yemen       1.00      1.00      1.00        66
                          Zambia       1.00      1.00      1.00        69
                        Zimbabwe       1.00      1.00      1.00        56

                        accuracy                           1.00     15862
                       macro avg       1.00      1.00      1.00     15862
                    weighted avg       1.00      1.00      1.00     15862

In [22]:
models = pd.DataFrame({
    'Model': ['DecisionTreeClassifier', 'KNeighborsClassifier'
             ],
    'Score': [ accu_tre, accu_kne]
})

models.sort_values(by = 'Score', ascending = False)

                    Model  Score
0  DecisionTreeClassifier  100.0
1    KNeighborsClassifier  100.0

In [23]:
df.head()

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Unnamed: 40,Unnamed: 41
0,Aruba,2.0,2.0,0.000,0.0,0.0,0.0,18.733,18.733,0.000,...,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0
1,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,0.000,2.676,...,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0
2,Aruba,4.0,2.0,0.286,0.0,0.0,0.0,37.465,18.733,2.676,...,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0
3,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,0.000,2.676,...,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0
4,Aruba,0.0,0.0,0.286,0.0,0.0,0.0,0.000,0.000,2.676,...,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0,0.0,0.0